* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #7bccf0;
    text-decoration: none;
}

section>* {
    padding: 0 0 0 .5rem;
}

header>section:first-child {
    background-color: aqua;
    background-image: url(img/pattern.png);
}

#logo {
    margin: 6em 0 1em 0;
    width: 15em;
}

h1 {
    font-size: 4em;
}

